/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* COLOR PALETTE */
:root {
    --wh: #ebebeb;
    --blk: #030b38;
    --red: #a01031;
    --blu: #264ebb;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

body {
    background-color: var(--wh);
    text-align: center;
    border: .2rem solid var(--blu);
}

.title {
    background-color: var(--blu);
    color: var(--wh);
    padding: 2vh;
    font-size: 2.5rem;
}

input {
    font-size: 1.25rem;
}

.add-item {
    margin: .5rem;
}
    .add-btn {
        margin: 0;
        font-weight: bolder;
        color: green;
        background-color: white;
        border: .1rem solid var(--blk);
    }
        .add-btn:hover {
            cursor: pointer;
            background-color: green;
            color: white;
        }

.items-container {
    display: grid;
    grid-template-columns: 5% 30% 5% 5%;
    grid-gap: .5rem;
    margin-left: 35%;
}
    .item {
        
    }
        .delete-btn {
            border: .15rem solid var(--red);
            border-radius: 100%;
            text-align: center;
            color: var(--red);
            background-color: white;
            font-size: 1rem;
            font-weight: bolder; 
        }
            .delete-btn:hover {
                cursor: pointer;
                background-color: var(--red);
                color: white;
            }
        .content {
            border-bottom: .1rem solid var(--blk);
            /* cursor: default; */
        }
        /* .qty {
            text-align: center;
            width: 115%;
            font-size: 1rem;
            background-color: var(--wh);
            border: .1rem solid var(--blk);
            border-radius: 5px;
        }
            .qty:hover {
                cursor: pointer;
            }
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button { 
            opacity: 1;
            cursor: pointer;
        } */
        .check-box {
            width: 30px;
            height: 30px;
        }
            .check-box:hover {
                cursor: pointer;
            }
        
.copyright {
    position: sticky;
    bottom: 5px;
    background-color: var(--blu);
    color: var(--wh);
    margin-bottom: 0;
    margin-top: 5%;
    padding: .25rem;
    width: 100%;
    font-size: .8rem;
  }